.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
README.md
CHANGELOG.md
